@import "https://fonts.googleapis.com/css?family=Open+Sans:600,700";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css";

* {
    font-family: "Open Sans", sans-serif;
}

.rwd-table {
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
    color: #333;
    border-radius: 0.4em;
    overflow: hidden;

    tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #f5f9fc;
        border-color: #bfbfbf;

        &:first-child {
            border-top: none;
            background: #428bca;
            color: #fff;
        }
        &:nth-child(odd):not(:first-child) {
            background-color: #ebf3f9;
        }
    }

    th {
        display: none;
    }

    td {
        display: block;

        &:first-child {
            margin-top: 0.5em;
        }
        &:last-child {
            margin-bottom: 0.5em;
        }
        &:before {
            content: attr(data-th) ": ";
            font-weight: bold;
            width: 120px;
            display: inline-block;
            color: #000;
        }
    }

    th,
    td {
        text-align: left;
        padding: 0.5em 1em;
    }

    @media screen and (max-width: 601px) {
        tr:nth-child(2) {
            border-top: none;
        }
    }

    @media screen and (min-width: 600px) {
        tr:hover:not(:first-child) {
            background-color: #d8e7f3;
        }
        td:before {
            display: none;
        }
        th,
        td {
            display: table-cell;
            padding: 0.25em 0.5em;
        }
        th:first-child,
        td:first-child {
            padding-left: 0;
        }
        th:last-child,
        td:last-child {
            padding-right: 0;
        }
        th,
        td {
            padding: 1em !important;
        }
    }
}

/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */
body {
    background: #4b79a1;
    background: -webkit-linear-gradient(to left, #4b79a1, #283e51);
    background: linear-gradient(to left, #4b79a1, #283e51);
}

h1 {
    font-size: 2.4em;
    color: #f2f2f2;
}

.container {
    max-width: 780px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.text-info {
    color: #283e51;

    &:hover {
        color: darken(#283e51, 0.6);
    }
}

.text-success {
    color: limegreen;

    &:hover {
        color: darken(limegreen, 0.6);
    }
}

.text-danger {
    color: brown;

    &:hover {
        color: darken(brown, 0.6);
    }
}

.mx-2 {
    margin: 0 0.2rem;
}

.fs-1 {
    font-size: 1rem;
}

@-webkit-keyframes leftRight {
    0% {
        -webkit-transform: translateX(0);
    }
    25% {
        -webkit-transform: translateX(-10px);
    }
    75% {
        -webkit-transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes leftRight {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
